/* Faz a inicialização do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicadas no elemento raiz */
:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

/* Quando no html tiver uma propriedade 'light' */
/* html[light] {
  --color-text: #000000;
  --color-error: #980000;
  --color-paper: #ffffff;
  --color-primary: #009688;
  --color-background: #cacaca;
  --color-primary-contrast: #ffffff;
} */

html,
body {
  /* Aplicar */
  @apply bg-background text-text
  /* Tamanho maximo da tela */
  w-screen h-screen;
}
