/* Faz a inicialização do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicadas no elemento raiz */
:root {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

/* Quando no html tiver uma propriedade 'light' */
/* html[light] {
  --color-text: #000000;
  --color-error: #980000;
  --color-paper: #ffffff;
  --color-primary: #009688;
  --color-background: #cacaca;
  --color-primary-contrast: #ffffff;
} */

* {
  /* Outline = borda no elemento quando for clicado TAB */
  @apply /* Muda a cor */
  outline-primary
  /* Grossura da borda */
  outline-1
  /* Um pouco menor */
  -outline-offset-2;
}

html,
body {
  /* O scroll lateral fique sobre o elemento, para nao  ocupar espaço, deixando a pagina quebrada */
  overflow: overlay;
  /* Aplicar */
  @apply bg-background text-text
  /* Tamanho maximo da tela */
  w-screen h-screen
  /* Distancia do underline com o texto */
  underline-offset-4;
}

a {
  @apply hover:underline active:opacity-50 transition-opacity;
}
